.blog-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
  
.blog-control label {
    font-weight: 450;
    margin-bottom: 2px;
    display: block;
}
  
.blog-control input {
    font: inherit;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
}

.img-control input{
    width: 30rem;
    max-width: 100%
}

.blog-control.invalid input{
    border-color: red;
}

.blog-control p{
    display: none;
}

.blog-control.invalid p{
    color: red;
    font-size: 12px;
    margin: 5px 5px 0px;
    display: block;
}
  
.blog-form-actions {
    text-align: right;
    margin-top: 15px;
}

.blog-form-actions button{
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #9c9b9b;
}