.blog-item{
    padding: 15px 25px;
    box-sizing: border-box;
    flex-basis: 22%;
    position: relative;
    max-height: 10%;
    margin: 10px;
}

.blog-item h2{
    margin: 0px;
}

.blog-item p{
    margin: 0;
    width: 100%;
    word-wrap: break-word;
}

.image-container{
    width: 85%;
    height: 200px;
    margin-bottom: 25px;
}

.blog-item img{
    width: 100%;
    height: 200px;
    margin: 15px 0px;
}

.item-actions{
    display: flex;
}

.item-actions button{
    background-color: #8f7b7b;
    border: 1px solid #8f7b7b;
    padding: 10px 13px;
    font-size: 12px;
    margin: 10px 15px 0px 0px;
}